<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metrô de São Paulo</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<header class="Linhas-metro">
    <div class="lines-container">
        <div class="blue-line" onclick="changeLine('Linha Azul')">
            <div class="white-ball"></div>
            <div class="white-ball"></div>
        </div>

        <div class="green-line" onclick="changeLine('Linha Verde')">
            <div class="white-ball"></div>
            <div class="white-ball"></div>
        </div>
    </div>

    <div class="red-line" onclick="changeLine('Linha Vermelha')">
        <div class="white-ball"></div>
        <div class="white-ball"></div>
    </div>

    <div class="yellow-line" onclick="changeLine('Linha Amarela')">
        <div class="white-ball"></div>
        <div class="white-ball"></div>
    </div>
</header>

<body>


    <svg id="metro-svg-blue" viewBox="0 0 800 500">
        <path id="metro-line" d="M350,58 L350,460" onclick="showLineInfo('Linha Azul')" style="stroke: #1900ff;"/>
        
        {% for result in results %}
            <circle class="white-ball-line" cx="350" cy="{{ loop.index * (400 / (results|length)) + 50 }}" r="5" data-station="{{ result }}"  onclick="selectStation('{{ result[1] }}', '{{ result[2] }}', '{{ result[3] }}','{{ result[4]}}', this)" />
            <text class="nome_estacao" x="370" y="{{ loop.index * (400 / (results|length)) + 50 }}" transform="rotate(325, 370, {{ loop.index * (400 / (results|length)) + 52 }})">{{ result[1] }}</text>
        {% endfor %}
    </svg>

    <svg id="metro-svg-green" viewBox="0 0 800 500" style="display: none;">
        <path id="metro-line" d="M350,58 L350,460" onclick="showLineInfo('Linha Verde')" style="stroke: green;"/>
    
        {% for result in results %}
            <circle class="white-ball-line" cx="350" cy="{{ loop.index * (400 / (results|length)) + 50 }}" r="5" data-station="{{ result }}"  onclick="selectStation('{{ result[1] }}', '{{ result[2] }}', '{{ result[3] }}','{{ result[4]}}', this)" />
            <text class="nome_estacao" x="370" y="{{ loop.index * (400 / (results|length)) + 50 }}" transform="rotate(325, 370, {{ loop.index * (400 / (results|length)) + 52 }})">{{ result[1] }}</text>
        {% endfor %}
    </svg>

    <svg id="metro-svg-red" viewBox="0 0 800 500" style="display: none;">
        <path id="metro-line" d="M350,58 L350,460" onclick="showLineInfo('Linha Vermelha')" style="stroke: red;"/>
    
        {% for result in results %}
            <circle class="white-ball-line" cx="350" cy="{{ loop.index * (400 / (results|length)) + 50 }}" r="5" data-station="{{ result }}"  onclick="selectStation('{{ result[1] }}', '{{ result[2] }}', '{{ result[3] }}','{{ result[4]}}', this)" />
            <text class="nome_estacao" x="370" y="{{ loop.index * (400 / (results|length)) + 50 }}" transform="rotate(325, 370, {{ loop.index * (400 / (results|length)) + 52 }})">{{ result[1] }}</text>
        {% endfor %}
    </svg>

    <svg id="metro-svg-yellow" viewBox="0 0 800 500" style="display: none;">
        <path id="metro-line" d="M350,58 L350,460" onclick="showLineInfo('Linha Amarela')" style="stroke: #ffd700;"/>
    
        {% for result in results %}
            <circle class="white-ball-line" cx="350" cy="{{ loop.index * (400 / (results|length)) + 50 }}" r="5" data-station="{{ result }}"  onclick="selectStation('{{ result[1] }}', '{{ result[2] }}', '{{ result[3] }}','{{ result[4]}}', this)" />
            <text class="nome_estacao" x="370" y="{{ loop.index * (400 / (results|length)) + 50 }}" transform="rotate(325, 370, {{ loop.index * (400 / (results|length)) + 52 }})">{{ result[1] }}</text>
        {% endfor %}
    </svg>

    <div id="station-info" class="modal"></div>

    <script src="static/script.js" defer></script>
</body>
</html>
