body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    font-family: 'Courier New', Courier, monospace;
}

/*Linhas do Metro Select*/
.white-ball {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

/* Ajuste as posições das bolas brancas conforme necessário */
.white-ball:nth-child(1) {
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
}

.white-ball:nth-child(2) {
    top: 50%;
    right: 10px;
    transform: translate(50%, -50%);
}

.blue-line {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;
    border-radius: 40px;
    background-color: #1900ff;
}

.blue-line:hover, .green-line:hover, .red-line:hover {
    cursor: pointer;
}

.green-line {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
    width: 50px;
    height: 20px;
    border-radius: 40px;
    background-color: green;
}

.red-line {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: 170px;
    width: 50px;
    height: 20px;
    border-radius: 40px;
    background-color: red;
}

.yellow-line {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: 240px;
    width: 50px;
    height: 20px;
    border-radius: 40px;
    background-color: #ffd700;
}

.yellow-line:hover {
    cursor: pointer;
}

/*Reta*/
svg {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

path {
    fill: none;
    stroke-width: 15px; /* Aumente a largura da linha para torná-la mais visível */
    cursor: pointer;
}

circle {
    fill: #ffffff;
    cursor: pointer;
}

.selected {
    fill: black;
}

.nome_estacao {
    font-size: 7.2px;
    font-weight: bold;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: #2815d4;
    color: white;
    padding: 20px;
    border-radius: 12px 0 0 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    overflow-y: auto; /* Adicionado para rolagem vertical dentro do modal, se necessário */
}

.nome_estacao_modal {
    font-size: 38px;
    text-align: center;
}

.text_horaFunc_estacao_modal, .text_Loc_estacao_modal {
    font-size: 14px;
}

.horaFunc_estacao_modal {
    font-size: 12px;
}

.text_horaFunc_estacao_modal,
.horaFunc_estacao_modal {
    display: inline-block;
    vertical-align: middle; /* Alinhar verticalmente */
}

.text_Loc_estacao_modal {
    display: block;
}

.imagem_estacao_modal {
    border-radius: 12px;
    width: 100%;
    height: 50%;
}

.black-ball {
    transform: scale(0.5); /* Define a escala da bola preta */
    color: #000000;
}